.bg_image{
    position: absolute;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.bg_shadow{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);;

}

.form_div{
    /* background-color: red; */
    
}

.text_shadow{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.shadow_overlay::after{
    /* content: ''; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.456);
    position: absolute;
    top: 0;
    height: 100%;
    /* z-index: 66; */

}

.text_truncate3{
    -webkit-box-orient: vertical ;
    display: -webkit-box;
    -webkit-line-clamp: 2 ;
    overflow: hidden;
    width: 100%;
    /* text-align: justify; */

}

.movie_container{
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    border-radius:10px ;
    
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}


.text_orange{
    color: #FF8008;
}
.watch_btn {
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(115deg, #FF8008 12%, #FFC837 78%);
 
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    animation: plays ease infinite;
    -webkit-animation: plays ease 10s infinite;
}

@keyframes plays {
    0% {
        background-position: 0px;
    }
    20% {
        background-position: -110px;
    }
   
    50% {
        background-position: -210px;
    }
    
    100% {
        background-position: -390px;
    }
}
.netflix_btn{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
 
    background: linear-gradient(to right, #FF8008 12%, #FFC837 78%, #FF8008 100%);
    color: white;
    display: flex;
    justify-content: center;
    height: 44px;
    align-items: center;
    margin: auto;
    border: 0;
 }
.bg_orange{
    background-color: #ff8c00;
}
.rounded2{
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.h100{
    height: 100vh;
}

.bg_gray{
    background-color: #9f9f9f;
}


.text_white{
    color: #a9a8a8;
}

.playlist{
    
}

.w200px{
    width:70% ;
    overflow: hidden;
}




.mySwiper{
    width: 100%;
}

