.bg_image{
    position: absolute;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.bg_shadow{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);;

}

.form_div{
    /* background-color: red; */
    
}