.bg_image{
    position: absolute;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.bg_shadow{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);;

}

.form_div{
    /* background-color: red; */
    
}

.text_shadow{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.shadow_overlay::after{
    /* content: ''; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.456);
    position: absolute;
    top: 0;
    height: 100%;
    /* z-index: 66; */

}

.text_truncate3{
    -webkit-box-orient: vertical ;
    display: -webkit-box;
    -webkit-line-clamp: 2 ;
    overflow: hidden;
    width: 100%;
    /* text-align: justify; */

}

.movie_container{
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    border-radius:10px ;
    
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}


.text_orange{
    color: #FF8008;
}
.watch_btn {
    padding: 10px;
    border-radius: 10px;
    /* background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat; */
    background: linear-gradient(15deg, #f09f33,#FF8008) ;
    background-size: 300%;
    color: white;
    background-position: left center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -ms-transition: background .3s ease;
    -o-transition: background .3s ease;
    width: fit-content;
}

.watch_btn:hover {
  background-size: 320%;
  background-position: right center;
}

.netflix_btn{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /* background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat; */
    background: linear-gradient(15deg, #880088, #aa2068, #880088) no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    height: 44px;
    align-items: center;
    margin: auto;
    border: 0;
 }
.bg_orange{
    /* background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat; */
    background: linear-gradient(15deg, #880088, #aa2068, #880088) no-repeat;

}
.rounded2{
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.h100{
    height: 100vh;
}

.bg_gray{
    background-color: #9f9f9f;
}


.text_white{
    color: #a9a8a8;
}

.playlist{
    
}

.w200px{
    width:70% ;
    overflow: hidden;
}

.mySwiper{
    width: 100%;
}

input::placeholder{
    color: #f8f8f8;
}

input{
    color: #f8f8f8;
}

.text_gradient {
    background: -webkit-linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d) no-repeat;
    background: -webkit-linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
   
  
  }