@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.netflix_btn{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
 
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    height: 44px;
    align-items: center;
    margin: auto;
 }
 
 .netflix_input{
     height: 44px;
     width: 100%;
     padding: 15px;
     background-color: grey;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
 }

 .w_135px{
    width: 135px;
 }

 .black_div{
    background-color: rgba(0, 0, 0, 0.773);
    padding: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    max-width: 400px;
}

.f_32px{
    font-style: 32px;
}
.f_28px{
    font-style: 28px !important;
}